body {
  background-color: #7FCAFF;
  margin: 0px;
  padding: 0px;
  font-family: Arial;
  overflow-y: scroll;
  overflow-x: hidden;
}

#counter{
    text-align: center;
}

#nav {
  background-color: #4786B2;
  overflow: hidden;
}

#nav > span {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

#nav > #nav-select {
  float: right;
}

#nav > .nav-button:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

#display{
  padding: 0px 20px 20px 20px;
}

#counter{
  padding: 0px 20px 0px 20px;
}

#country-map {
  height: 300px;
  width: auto;
}

#gini-pyramid {
  min-width: 300px;
  max-width: 800px;
  height: 500px;
  margin: 1em auto;
}

#population-donut {
    min-width: 300px;
    max-width: 800px;
    height: 500px;
    margin: 1em auto;
}

#lang-chart {
  max-width: 800px;
  min-width: 380px;
  margin: 0 auto;
}

.question-container {
  margin-bottom: 1em;
}

.quiz-true + label {
  color: green;
  font-weight: bold;
}

.quiz-false + label {
  color: red;
  font-weight: bold;
}

img {
  height: 300px;
  width: auto;
  margin: 10px;
}

#country-view-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "statBox statBox flagBox"
  "wikiDiv wikiDiv wikiDiv"
  "countryMap popChart areaChart";
  grid-gap: 10px;
}

#stat-box {
  grid-area: statBox;
}

#wiki-div {
  grid-area: wikiDiv;
}

#flag-box {
  grid-area: flagBox;
  align-self: center;
  justify-content: center;
}

#country-map {
  grid-area: countryMap;
}

#pop-chart {
  grid-area: popChart;
}

#area-chart {
  grid-area: areaChart;
}

#quiz-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "fqname fqname"
  "fqturn fqscore"
  "fqflags fqflags";
  grid-gap: 10px;
}

#fqname{
  grid-area: fqname;
  text-align: center;
}

#fqscore{
  grid-area: fqscore;
  text-align: right;
}

#fqturn{
  grid-area: fqturn;
}

#fqflags{
  grid-area: fqflags;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
}

form {
  margin-top: 20px;
  padding: auto;
}
